@charset "UTF-8";
/* main_a_base.css */


/* common */
.container { max-width: 1280px;}


/* design */
#wrap {
  overflow: hidden;
  width: 100%; height: auto;
}
/* headBox */
#headBox {
  position: absolute; top: 0; left: 0; right: 0; z-index: 5000;
  width: 100%; height: auto; min-height: 80px;
  padding: 8px 100px 0; box-sizing: border-box;
  background-color: var(--white);
}
#headBox:before,
#headBox::before { /* nav 중간 라인 */
  content: "";
  display: block;
  position: absolute; top: 79px; left: 0; right: 0;
  width: 100%; height: 0;
  border-bottom: 1px solid var(--gray-02);
}
#headBox:after,
#headBox::after { /* nav 드롭다운 배경 */
  content: "";
  display: block;
  position: absolute; left: 50%; bottom: 0; z-index: -1;
  width: 100%; height: 100%;
  margin-left: -50vw; 
  background-color: var(--white);
}
#headBox:hover:after,
#headBox:hover::after {
  border-bottom: 1px solid var(--gray-02);
}
h1 {
  float: left;
  width: 50px; height: 66px;
  margin-right: 140px;
  background-image: url("../../../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
  .nav_btn { display: none; }
  .nav_close { display: none; }
  .nav_bg { display: none; }

  /* headBox > gnb */
  #gnb {
    float: left;
    width: auto; height: auto;
    margin-top: 20px;
    text-align: center;
  }
    .gnb_wrap > li {
      float: left;
      width: 120px; height: auto;
      margin-right: 40px;
    }
    .gnb_wrap > li:last-child {
      margin-right: 0;
    }
    .gnb_wrap > li a {
      display: block;
      width: 100%; height: 100%;
    }
    .gnb_title {
      font-size: 18px; font-weight: 700; color: var(--black-02);
    }
    .gnb_list {
      display: none;
      width: 120px; height: 240px;
      margin-top: 60px; margin-right: 40px; 
      font-size: 16px; font-weight: 400; color: var(--deep-gray-01);
    }
    .gnb_list li {
      width: 100%; height: 25px;
      margin-bottom: 10px;
    }
    .gnb_list li:last-of-type {
      margin-bottom: 0;
    }
    
  /* headBox > unb */
  #unb {
    float: right;
    width: auto; height: auto;
    margin-top: 20px;
  }
    #unb li {
      float: left;
      margin-left: 50px;
      font-size: 22px; line-height: 20px; text-align: center; color: var(--black-02);
    }
    #unb li:first-of-type {
      margin-left: 0;
    }


/* viewBox */
#viewBox {
  position: relative;
  width: 100%; height: auto;
  margin-top: 80px;
  color: var(--white);
  background-image: url("../../../img/banner_01.png");
  background-size: cover; background-position: 50%; background-repeat: no-repeat;
}
#viewBox:before,
#viewBox::before {
  content: "";
  display: block;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  background-image: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0.1));
}
  .view_inner {
    position: relative;
    width: 100%; height: 670px;
  }

  /* viewBox > view_btn 슬라이드 좌우 버튼 */
  .view_btn {
    width: 100%; height: 100%;
  }
  .view_btn li {
    width: 80px; height: 300px;
    background-position: 50%;
    background-size: 18px, 42px;
    background-repeat: no-repeat;
  }
  .view_btn .prev {
    position: absolute; top: 50%; left: 0;
    transform: translateY(-50%);
    background-image: url("../../../img/btn_prev.png");
  }
  .view_btn .next {
    position: absolute; top: 50%; right: 0;
    transform: translateY(-50%);
    background-image: url("../../../img/btn_next.png");
  }
  .view_btn a {
    display: block;
    width: 100%; height: 100%;
  }
  .view_btn li:hover { /* hover */
    background-color: rgba(255,255,255,0.3);
  }

  /* viewBox > indicator 슬라이드 인디케이터 */
  .indicator {
    display: block;
    position: absolute; bottom: 44px; left: 50%;
    transform: translate(-50%);
    width: auto; height: auto;
  }
    .indicator li {
      float: left;
      width: 16px; height: 16px;
      border-radius: 100%;
      margin-right: 14px;
    }
    .indicator li:last-of-type {
      margin-right: 0;
    }
    .indicator a {
      display: block;
      width: 100%; height: 100%;
      border-radius: 100%; 
      background-color: var(--white); opacity: 0.3;
    }
    .indicator li.action { /* action: js 처리 */
      width: 50px; 
      border: 0;
    }
    .indicator li.action a { /* action: js 처리 */
      border-radius: 10px;
      background-color: var(--white); opacity: 1;
    }
    .indicator li:hover { /* hover */
      transform: scale(1.2);
      transition: all 300ms ease;
    }
    .indicator a:focus { /* focus */
      border: 2px solid var(--black-02);
    }

    /* viewBox > view_text 슬라이드 내부 박스 */
    .view_text {
      position: absolute; top: 164px; left: 55%; /*185px;*/ z-index: 100;
      float: right;
      width: 445px; height: 344px;
    }
    .view_text h3 {
      font-size: 36px; font-weight: 700; text-transform: capitalize;
    }
    .view_text p {
      margin-top: 40px;
      font-size: 18px; font-weight: 400; line-height: 1.6;
    }

    /* viewBox > view_text > btn_small 슬라이드 내부 본문 버튼 */
    .view_text .btn_small {
      display: block;
      width: 140px; height: 48px;
      box-sizing: border-box; padding: 15px 18px; margin-top: 48px; 
      color:var(--black-02); text-align: center; text-transform: uppercase; font-size: 14px;
      background-color: var(--white);
    }
      .view_text .btn_small:hover {
        transform: scale(1.1);
        transition: all 300ms ease;
      }
      .view_text .btn_small:focus {
        border: 3px solid var(--black-02);
      }


/* menuBox */
#menuBox {
  overflow: hidden;
  width: 100%; height: auto; min-height: 620px;
  padding-top: 100px; 
  background-color: var(--white);
}
#menuBox .title {
  position: relative;
  padding-top: 26px; margin-left: 80px;
}
#menuBox .title h2 {
  font-size: 40px; font-weight: 700; text-align: left;
}
#menuBox .title p {
  position: absolute; top: 0; left: 0;
  font-size: 16px; color: var(--gray-03); font-weight: 700;
}

/* menuBox > btn_circle 메뉴 슬라이드 좌우 버튼 */
  .slide_wrap {
    position: relative;
  }
  .slide_wrap .btn_circle {
    display: block;
    position: absolute; top: 50%; z-index: 500;
    transform: translateY(-50%);
    width: 60px; height: 60px;
    border-radius: 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--white); background-repeat: no-repeat;
    background-size: 16px 27px; background-position: 50% 50%;
  }
  .slide_wrap .prev {
    left: 100px;
    background-image: url("../../../img/btn_prev2.png");
  }
  .slide_wrap .next {
    right: 100px; 
    background-image: url("../../../img/btn_next2.png");
  }
    .slide_wrap .btn_circle:hover { /* btn hover */
      transform: translateY(-50%) scale(1.2);
      transition: all 300ms ease;
    }
    .slide_wrap .btn_circle:focus { /* btn focus */
      border: 2px solid var(--black-02);
    }

  .menu_area {
    width: 3000px; height: auto;
    margin-top: 68px; margin-left: 50px;
  }
    .menu_area li {
      float: left;
      width: auto; height: auto;
      margin-left: 30px;
    }
    .menu_area li:first-of-type {
      margin-left: 0;
    }
    .menu_area li div {
      width: 200px; height: 200px;
      margin: auto; margin-bottom: 30px;
      background-image: url("../../../img/drink.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
    }
    .menu_area li p {
      display: block;
      color: var(--black-02); font-size: 18px; font-weight: 700; text-align: center;
    }
    .menu_area li:hover {
      transform: scale(1.1);
      transition: all 300ms ease;
    }

/* orderBox */
#orderBox {
  width: 100%; height: 883px;
  padding-top: 100px; 
  background-color: var(--pale-01);
}
  #orderBox .title {
    position: relative;
    padding-top: 26px;
  }
    #orderBox .title h2 {
      font-size: 40px; font-weight: 700; text-align: center;
    }
    #orderBox .title p {
      position: absolute; top: 0; left: 50%;
      transform: translateX(-50%);
      font-size: 16px; color: rgba(77, 60, 59, 0.7); font-weight: 700; text-align: center;
    }
  
  #orderBox ul {
    width: 990px; height: auto;
    margin: 0 auto;
    text-align: center;
  }
    #orderBox ul > li {
      float: left;
      width: 262px; height: auto;
      margin-top: 75px; margin-right: 100px;
    }
    #orderBox ul > li:last-of-type {
      margin-right: 0;
    }
    #orderBox dl {
      position: relative;
    }
      #orderBox .order_img {
        position: absolute; top: 0; left: 50%;
        transform: translateX(-50%);
        width: 200px; height: 200px;
        margin: 0 auto; border-radius: 100%;
        background-color: var(--white);
        background-size: auto 60px; background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      #orderBox .img1 {
        background-image: url("../../../img/order_img1.png");
      }
      #orderBox .img2 {
        background-image: url("../../../img/order_img2.png");
      }
      #orderBox .img3 {
        background-image: url("../../../img/order_img3.png");
      }
      #orderBox .order_title {
        width: 100%; height: auto;
        margin: 0 auto; padding-top: 240px;
        font-size: 28px; font-weight: 700;
      }
      #orderBox .order_text {
        width: 100%; height: auto;
        margin-top: 28px;
        font-size: 16px; line-height: 1.5; color: var(--black-01);
      }
      /* orderBox > btn_large 이용방법 알아보기 버튼 */
      #orderBox .btn_large {
        display: block;
        width: 260px; height: auto;
        box-sizing: border-box; padding: 17px 18px;
        margin: auto; margin-top: 70px;
        text-align: center; font-size: 16px; color: var(--white);
        background-color: var(--primary-01);
      }
      #orderBox .btn_large:hover { /* hover */
        transform: scale(1.1);
        transition: all 300ms ease;
      }
      #orderBox .btn_large:focus { /* focus */
        border: 3px solid #171717;  
      }

/* brandBox */
#brandBox {
  position: relative; z-index: 0;
  width: 100%; height: auto; min-height: 472px;
  color: var(--white);
  background-image: url("../../../img/main_bg2.jpg");
  background-size: cover; background-position: 50%; background-repeat: no-repeat;
  background-attachment: fixed;
}
#brandBox:before,
#brandBox::before {
  content: "";
  display: block;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
}
  #brandBox p {
    margin-top: 146px;
    font-size: 28px; font-weight: 700; text-align: center; line-height: 1.6;
  }
  /* brandBox > btn_large 브랜드소개 바로가기 버튼 */
  #brandBox .btn_large {
    display: block;
    width: 260px; height: auto;
    padding: 17px 18px; box-sizing: border-box;
    text-align: center; font-size: 16px;
    margin: 0 auto; margin-top: 36px; border: 1px solid var(--white);
    color: var(--white); background-color: transparent;
  }
  #brandBox .btn_large:hover { /* hover */
    transform: scale(1.1);
    transition: all 300ms ease;
  }
  #brandBox .btn_large:focus { /* focus */
    border: 4px solid var(--black-02);  
  }

/* recipeBox */
#recipeBox {
  position: relative;
  overflow: hidden;
  width: 100%; height: 930px;
  padding-top: 100px;
  background-color: var(--white);
}
#recipeBox .title {
  position: relative;
  padding-top: 26px; margin-left: 80px;
}
  #recipeBox .title h2 {
    font-size: 40px; font-weight: 700;
  }
  #recipeBox .title p {
    position: absolute; top: 0; left: 0;
    font-size: 16px; color: var(--gray-03); font-weight: 700; text-align: left;
  }

  /* recipeBox > btn_circle 메뉴 슬라이드 좌우 버튼 */
  .recipe_wrap {
    position: relative; width: 100%; height: auto;
  }

  .recipe_wrap .btn_circle {
    display: block;
    position: absolute; top: 50%; z-index: 500;
    transform: translateY(-50%);
    width: 60px; height: 60px;
    border-radius: 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--white); background-repeat: no-repeat;
    background-size: 16px 27px; background-position: 50% 50%;
  }
  .recipe_wrap .prev {
    left: 100px;
    background-image: url("../../../img/btn_prev2.png");
  }
  .recipe_wrap .next {
    right: 100px; 
    background-image: url("../../../img/btn_next2.png");
  }
    .recipe_wrap .btn_circle:hover { /* btn hover */
      transform: translateY(-50%) scale(1.2);
      transition: all 300ms ease;
    }
    .recipe_wrap .btn_circle:focus { /* btn focus */
      border: 2px solid var(--black-02);
    }

  #recipeBox ul {
    width: 3000px; height: auto;
    margin-top: 80px; margin-left: 80px;
  }
    #recipeBox .card {
      position: relative; z-index: 10;
      float: left;
      width: 366px; height: 550px;
      margin-right: 26px;
      border-radius: 20px; padding: 340px 40px 0;
      background-color: #F5EEE8; 
      background-repeat: no-repeat;
      background-size: 130%; background-position: 60% 20%;
    }
    #recipeBox .card1 {
      background-image: url("../../../img/recipe_img1.jpg");
    }
    #recipeBox .card2 {
      background-image: url("../../../img/recipe_img2.jpg");
    }
    #recipeBox .card3 {
      background-image: url("../../../img/recipe_img3.jpg");
    }
    #recipeBox .card4 {
      background-image: url("../../../img/recipe_img4.jpg");
    }

    #recipeBox ul > li:last-of-type {
      margin-right: 0;
    }
      .recipe_title {
        font-size: 22px; font-weight: 700;
      }
      .card p {
        font-size: 14px; line-height: 1.6;
        margin-top: 16px; color: var(--black-01);
      }
      /* #recipeBox > card > 더보기 */
      .card .more {
        margin-top: 22px;
        float: right;
        font-size: 16px; color: var(--brown-01); font-weight: 700;
      }
      .card .more span {
        float: left;
        display: block;
      }
      .card .more i {
        float: left;
        margin-top: 4px; margin-left: 8px;
      }

    .recipe_wrap a {
      display: block;
      width: 100%; height: 100%;
    }
    .recipe_wrap a:hover .card { /* hover */
      transform: perspective(1000px) rotateY(50deg);
      transition: all 500ms ease;
    }
    .recipe_wrap a:focus .card { /* focus */
      outline: 0;
      transform: perspective(1000px) rotateY(360deg);
      transition: all 500ms ease;
    }
  
/* franchise */
  #franchise {
    position: relative; z-index: 0;
    width: 100%; height: auto; min-height: 472px;
    color: var(--white);
    background-image: url("../../../img/main_bg3.jpg");
    background-repeat: no-repeat; background-size: cover;
    background-position: 50%; background-attachment: fixed;
  }
  #franchise:before,
  #franchise::before {
    content: "";
    display: block;
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;
    background-color: rgba(255, 255, 255, 0.8);
  }
    #franchise p {
      margin-top: 146px;
      font-size: 28px; font-weight: 700; text-align: center; line-height: 1.6; color: var(--black-02);
    }
    /* franchise > btn_large 브랜드소개 바로가기 버튼 */
    #franchise .btn_large {
      display: block;
      width: 260px; height: auto;
      padding: 17px 18px; box-sizing: border-box;
      text-align: center; font-size: 16px;
      margin: 0 auto; margin-top: 36px; border: 1px solid var(--deep-gray-01);
      color: var(--deep-gray-01); background-color: var(--white);
    }
    #franchise .btn_large:hover { /* hover */
      transform: scale(1.1);
      transition: all 300ms ease;
    }
    #franchise .btn_large:focus { /* focus */
      border: 4px solid var(--black-02);  
    }

/* liveBox */
#liveBox {
  position: relative;
  overflow: hidden;
  width: 100%; height: auto; min-height: 830px;
  padding: 100px 92px 0;
  background-color: rgba(238, 238, 238, 0.5);
}
#liveBox .title {
  position: relative;
  padding-top: 26px;
}
  #liveBox .title h2 {
    font-size: 40px; font-weight: 700; text-align: center;
  }
  #liveBox .title p {
    position: absolute; top: 0; left: 50%;
    transform: translateX(-50%);
    font-size: 16px; color: var(--gray-03); font-weight: 700;
  }

  /* liveBox > store_search_box 매장검색 */
  .store_search_box {
    position: relative;
    float: left;
    width: 340px; height: 420px;
    margin-top: 100px; padding-top: 74px;
    background-color: rgba(195, 14, 47, 0.8);
  }
    .store_search_box h3 {
      width: auto; height: auto;
      margin-bottom: 20px; margin-left: 34px;
      font-size: 22px; color: var(--white); font-weight: 700;
    }
    .store_search_box h3 > i {
      margin-left: 12px;
      color: var(--white);
    }
    .store_search_box > p {
      margin-left: 34px;
      font-size: 16px; color: var(--gray-01); line-height: 1.6; font-weight: 400;
    }
      /* form */
      .store_search_box .shop_search {
        position: relative;
        width: 280px; height: 52px;
        margin: 96px auto 0;
        border: 4px solid var(--black-02);
        background-color: rgba(255,255,255,0.5); 
      }
      .shop_search input {
        width: 100%; height: 100%;
        padding: 12px 0; padding-left: 18px; 
        background-color: transparent;
      }
      .shop_search button {
        position: absolute; top: 0; right: -1px; bottom: 0;
        width: 44px; height: 44px;
        background-color: var(--primary-01);
        background-image: url("../../../img/search.png");
        background-size: 20px; background-position: 50%;
        background-repeat: no-repeat;
      }
    
  /* social_area SNS 영역 */
  .social_area {
    position: relative;
    float: right;
    width: auto; height: auto; 
    margin-top: 100px;
  }
    /* social_area > btn 좌우 버튼 */
    .live_btn {
      position: absolute; top: 50%; left: 0; right: 0; z-index: 500;
      transform: translateY(-50%);
      width: 100%; height: 60px;
    }
    .live_btn .btn {
      width: 60px; height: 60px;
      box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.1);
      background-color: var(--white);
      background-position: 50%; background-size: 16px 27px;
      background-repeat: no-repeat;
    }
    .live_btn .prev {
      float: left;
      background-image: url("../../../img/btn_prev2.png");
    }
    .live_btn .next {
      float: right;
      background-image: url("../../../img/btn_next2.png");
    }
    .live_btn button:hover { /* hover */
      transform: scale(1.2);
      transition: all 300ms ease;
    }
    .live_btn button:focus { /* focus */
      border: 2px solid var(--black-02);
    }
    /* social_area > imgbox 사진 */
    .social_area > ul {
      width: auto; height: auto;
      margin: 0 30px;
    }
      .social_area li {
        float: left;
        width: 380px; height: 420px;
        background-color: var(--gray-04);
      }
      .social_area .live_img_01 {
        margin-right: 12px;
        background-image: url("../../../img/main_live_img1.png");
        background-size: contain;
      }
      .social_area .live_img_02 {
        background-image: url("../../../img/main_live_img2.png");
        background-size: contain;
        margin-left: 12px;
      }

      .social_area li:hover { /* hover */
        transform: scale(1.05);
        transition: all 300ms ease;
      }

/* sideBox */
#sideBox {
  position: fixed; right: 30px; bottom: 80px; z-index: 4000;
  width: 50px; height: auto;
}
  #sideBox a {
    display: block;
    width: 50px; height: 50px;
    border-radius: 100%;
    margin-bottom: 16px;
    background-color: var(--white);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    background-position: 50%; background-size: 30px auto; 
    background-repeat: no-repeat;
    transition: all 500ms ease;
    }
    #sideBox .talk { background-image: url("../../../img/side_message.png"); }
    #sideBox .app { background-image: url("../../../img/side_app.png"); }
    #sideBox .kakao { background-image: url("../../../img/side_kakaotalk.png"); }

    /* sideBox > a:hover */
    #sideBox a:hover { 
      transform: scale(1.3);
      transition: all 500ms ease;
    }
    #sideBox a:hover span {
      position: absolute; top: 10px; left: 50%; z-index: 1;
      transform: translateX(-50%);
      width: auto; height: auto;
      margin: auto;
      font-size: 12px; text-align: center; word-spacing: -3px;
    }
    #sideBox a:hover:before,
    #sideBox a:hover::before {
      content: "";
      display: block;
      position: absolute; top: 0; left: 0; bottom: 0; right: 0;
      border-radius: 100%;
      background-color: var(--white); opacity: 0.9;
    }
    /* sideBox > a:focus */
    #sideBox a:focus { 
      animation: myMove 300ms ease 1;
    }
    @keyframes myMove {
      0% { transform: scale(1.3); }
      30% { transform: scale(0.3); }
      70% { transform: scale(1.6); }
      100% { transform: scale(1.3); }
    } /* @keyframes myMove */

/* footBox */
#footBox {
  position: relative;
  width: 100%; height: auto; min-height: 370px;
  background-color: var(--black-01);
  color: var(--gray-01);
}
#footBox:before,
#footBox::before {
  content: "";
  display: block;
  position: absolute; top: 58px; left: 0; right: 0;
  width: 100%; height: 0;
  margin: auto;
  border-bottom: 1px solid var(--deep-gray-01);
}
#footBox h2 {
  position: absolute; top: 80px; left: 0;
  width: 49px; height: 94px;
  background-image: url("../../../img/logo_white.png");
  background-size: contain; background-repeat: no-repeat; background-position: 50%;
}
  /* footBox > foot_nav 회사소개 */
  .foot_nav {
    width: 100%; height: auto;
    font-weight: 400; font-size: 14px;
  }
    .foot_nav > ul {
      float: left;
      padding: 20px 0; 
      margin-left: 150px; 
    }
      .foot_nav > ul > li {
        float: left;
        padding-right: 15px; margin-right: 15px; border-right: 1px solid var(--deep-gray-01);
      }
      .foot_nav > ul > li:last-of-type {
        padding-right: 0; margin-right: 130px; border-right: 0;
      }
      .foot_nav a {
        display: block;
        width: 100%; height: 100%;
      }
      /* footBox > family_site 패밀리 사이트 */
    .family_site {
      float: left;
      position: relative;
      padding: 20px 34px; border: 1px solid var(--deep-gray-01); border-top: 0; border-bottom: 0;
      font-size: 14px; text-transform: capitalize;
    }
      .family_site i {
        margin-left: 20px;
      }
        .family_site form,
        .family_site fieldset,
        .family_site ul,
        .family_site li {
          width: 100%; height: auto;
        }
        .family_site dt {
          width: 100%; height: 100%;
        }
        .family_site dd {
          display: none;
          position: absolute; bottom: 58px; left: 0;
          width: 200px; height: auto;
          border-bottom: 1px solid var(--gray-04); padding: 20px;
          background-color: var(--black-02);
        }
        .family_site dd li {
          margin-bottom: 4px;
        }
        .family_site dd li:last-of-type {
          margin-bottom: 0;
        }
        
        .family_site:hover dd { /* hover */
          display: block;
        }

    /* footBox > foot_wrap 회사정보 고객센터 sns */
    .foot_wrap {
      margin-top: 40px; margin-left: 150px;
    }
      .foot_wrap h3 {
        font-size: 22px; font-weight: 700;
        margin-bottom: 15px;
      }
      .foot_wrap p {
        font-size: 14px; font-weight: 400; line-height: 1.6;
        color: var(--gray-03);
      }
      
      /* footBox > foot_info 회사정보 */
      .foot_info {
        float: left;
        width: auto; height: auto;
      }
        .foot_info p {
          margin-bottom: 20px;
        }
        .foot_info p:last-of-type {
          margin-bottom: 0;
        }
  /* footBox > foot_cs 고객센터 */
  .foot_cs {
    float: left;
    width: auto; height: 140px;
    margin-left: 21%;
  }
    .phone_number {
      width: auto; height: 48px;
      margin-bottom: 12px;
      font-size: 36px; font-weight: 700; line-height: 48px;
    }
    /* footBox > sns 아이콘 */
  .foot_sns {
    float: right;
    width: 182px; height: 90px;
    font-size: 30px; color: var(--gray-01)
  }
    .foot_sns ul {
      width: auto; height: auto;
    }
      .foot_sns li {
        float: left;
        width: 30px; height: 30px;
        margin-left: 22px;
      }
      .foot_sns li:first-of-type {
        margin-left: 0;
      }