/* main_b_mobile_h.css */

/* (width: 600px ~ 1023px) / design 기준: 600px */
@media all and (min-width: 600px) and (max-width: 1023px) {

  /* headBox ----------------------------------------- */
  #headBox { min-height: 60px; padding: 3px 40px 0;}
    #headBox:before,
    #headBox::before { top: 59px; }
    h1 { width: 42px; height: 54px;}
    .gnb_wrap { float: right; width: auto; height: auto; }
    .gnb_btn { float: right; display: block; width: 24px; height: 24px; margin-top: 8px; font-size: 30px; }

    #headBox > .container { position: fixed; top: 0; left: 10%; right: 0; bottom: 0; z-index: 5000; 
      padding: 14px 30px 0; margin-top: 0; background-color: var(--white); }
      #gnb h2 { position: absolute; top: 14px; right: 30px; width: 42px; height: 54px; 
        background-image: url("../../../img/logo.png"); background-size: contain; }
      .gnb_wrap { position: absolute; top: 96px; right: 56px; width: 120px; text-align: right; }
      .gnb_wrap > li { float: initial; position: relative; text-align: right; margin-bottom: 20px; }
      .gnb_wrap > li:last-of-type { margin-bottom: 0; }
      .gnb_wrap > li:after,
      .gnb_wrap > li::after { content: ""; display: block;
        position: absolute; top: 0; right: -30px;
        width: 20px; height: 20px; margin-top: 2px; margin-left: 18px;
        background-image: url("../../../img/btn_down.png"); background-size: contain;}
        .gnb_wrap > li:hover .gnb_list { display: block; } /* hover */
          .gnb_list { width: auto; height: auto; margin: 22px 0 32px; }
          .gnb_list > li { margin-bottom: 16px; }
          .gnb_list > li:last-child { margin-bottom: 0; }
    .gnb_wrap:hover #gnb { display: block; } /* hover */

    #unb { }

  /* viewBox ----------------------------------------- */
  #viewBox { margin-top: 60px; }

  /* menuBox ----------------------------------------- */
  #menuBox {}
  /* orderBox ----------------------------------------- */
  #orderBox {}
  /* brandBox ----------------------------------------- */
  #brandBox {}
  /* recipeBox ----------------------------------------- */
  #recipeBox {}
  /* franchise ----------------------------------------- */
  #franchise {}
  /* liveBox ----------------------------------------- */
  #liveBox {}
  /* footBox ----------------------------------------- */
  #footBox {}

}