/* main_b_mobile_h.css */

/* (width: 600px ~ 1023px) / design 기준: 600px */
@media all and (min-width: 600px) and (max-width: 1023px) {

  /* headBox ----------------------------------------- */
  #headBox { min-height: 60px; padding: 3px 40px 0;}
    #headBox:before,
    #headBox::before { top: 59px; }
    h1 { width: 42px; height: 54px; }
    .nav_btn { float: right; display: block; width: 24px; height: 24px; margin-top: 8px; font-size: 30px; }
    #gnb, #unb { display: none; }

    /* #headBox > .container { position: fixed; top: 0; left: 10%; right: 0; bottom: 0; z-index: 5000; 
      padding: 14px 30px 0; margin-top: 0; background-color: var(--white); }
      
      #gnb h2 { 
        position: absolute; top: 14px; right: 30px; width: 42px; height: 54px; 
        background-image: url("../../../img/logo.png"); background-size: contain; }
      .gnb_wrap { position: absolute; top: 96px; right: 56px; width: 120px; text-align: right; }
      .gnb_wrap > li { float: initial; position: relative; text-align: right; margin-bottom: 20px; }
      .gnb_wrap > li:last-of-type { margin-bottom: 0; }
      .gnb_wrap > li:after,
      .gnb_wrap > li::after { content: ""; display: block;
        position: absolute; top: 0; right: -30px;
        width: 20px; height: 20px; margin-top: 2px; margin-left: 18px;
        background-image: url("../../../img/btn_down.png"); background-size: contain;}
        .gnb_wrap > li:hover .gnb_list { display: block; 
          .gnb_list { width: auto; height: auto; margin: 22px 0 32px; }
          .gnb_list > li { margin-bottom: 16px; }
          .gnb_list > li:last-child { margin-bottom: 0; }
    .gnb_wrap:hover #gnb { display: block;  */

  /* viewBox ----------------------------------------- */
  #viewBox { height: 400px; height: 100vw;/*600/600*100*/ margin-top: 60px; }
    #viewBox:before,
    #viewBox::before { background-image: linear-gradient(270deg,rgba(0,0,0,0),rgba(0,0,0,0.1)); }
    #viewBox > .container { height: 100vw; }
    
    /* viewBox > .view_indicator 슬라이드 인디케이터 */
    .view_indicator { bottom: 28px; left: auto; right: 40px; transform: initial;
    padding: 6px 20px; border-radius: 100px; font-size: 14px; background-color: var(--deep-gray-01); }

    .view_btn { display: none; }
    .indi_circle { display: none; }
    .indi_number { display: block; }
      .view_text { top: 0; left: 42px; margin-top: 30.5vw;/*183/600*100*/ }
        .view_text dt { font-size: 28px; }
        .view_text dd { font-size: 16px; }
      .view_img { background-position: 15% }
  
  /* menuBox ----------------------------------------- */
  #menuBox { min-height: 540px; }
    #menuBox .title { margin-left: 40px;}
      #menuBox .title h2  { font-size: 28px; }
    .menu_area { margin-left: 40px; }
    .menu_area li div { width: 120px; height: 120px; }
    .menu_area li p { font-size: 16px; }


  /* orderBox ----------------------------------------- */
  #orderBox {}
  /* brandBox ----------------------------------------- */
  #brandBox {}
  /* recipeBox ----------------------------------------- */
  #recipeBox {}
  /* franchise ----------------------------------------- */
  #franchise {}
  /* liveBox ----------------------------------------- */
  #liveBox {}
  /* footBox ----------------------------------------- */
  #footBox {}

}