@charset "UTF-8";
/* common.css */
.clearfix::after, .clearfix:after {
  content: ""; display: block; clear: both; width: 100%; height: 0;
}
.blind {
  display: block; width: 0; height: 0; overflow: hidden;
}
#wrap {
  margin: auto;
}
.container {
  position: relative;
  width: 1280px; height: auto;
  margin: auto;
}
.blind_wrap a {
  display: block; width: 100%; height: 100%;
}
.blind_wrap a > span {
  display: block; overflow: hidden;
  width: 0; height: 0; 
}
.full {
  display: block; width: 100%; height: 100%;
}
.full_wrap a,
.full_wrap button { 
  display: block; width: 100%; height: 100%;
}
.bold { font-weight: 700; }
.uppercase { text-transform: uppercase; }