@charset "UTF-8";
/* variable.css */

:root {
  font-size: 16px;

  /* color */
  --primary-01: #c30e2f;
  --brown-01: #4d3c3b;
  --mint-01: #6ab29a;
  --skyblue-01: #94c6e1;
  --pale-01: #f3ebe0;
  --white: #fff;
  --gray-01: #eee;
  --gray-02: #ccc;
  --gray-03: #aaa;
  --gray-04: #777;
  --deep-gray-01: #505050;
  --black-01: #333;
  --black-02: #171717;
}

/* @supports ( width:1rem ) { */
  /* 1rem이라는 단위를 인지하면 ( true ) 수행 */
  /* :root { */
  /* font */
  /* --font-h2: 2.5rem;
  --font-h3: 2.25rem;
  --font-point: 3.75rem;
  --font-p1: 1.125rem;
  --font-p2: 1rem;
  --font-p3: 0.875rem;
  --font-p4: 0.75rem;
  --font-title1: 1.5rem;
  --font-title2: 1.25rem; */

  /* size */
  /* --width-1: 0.0625rem; */
  /* } */
/* } */