/* brand.css */
/* headBox.css */
#headBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  width: 100%;
  border-bottom: 0.0625rem solid #ccc;
  background-color: #fff;
}
#headBox .container {
  display: flex;
  justify-content: space-between;
}
#headBox h1 {
  width: 3.125rem;
  height: 3.375rem;
}
#headBox h1 > a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../multi/img/logo.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#headBox h1 > a > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
#headBox.transparent {
  background-color: transparent;
  color: #fff;
}
#headBox.transparent h1 > a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../multi/img/logo_white.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#headBox.transparent h1 > a > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
#headBox.transparent .nav_btn i {
  background-image: url(../../multi/img/bars-white.svg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#headBox.transparent .nav_btn i > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}

/*==================== handhels 320px - 1023px ====================*/
@media all and (max-width: 1023px) {
  #wrap {
    padding-top: 3.75rem;
  }

  #headBox {
    padding: 0 1.375rem;
    height: 60px;
    height: 3.75rem;
  }
  #headBox .container {
    position: relative;
    align-items: center;
  }
  .nav_mob {
    width: 100%;
    height: 100%;
  }
  .nav_btn {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .nav_btn i {
    float: right;
    width: 24px;
    height: 24px;
    background-image: url(../../multi/img/bars-solid.svg);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .nav_btn i > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .nav_btn button {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-size: 1.375rem;
  }

  .nav_wrap {
    display: none;
  }
  .nav_wrap.on {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background-color: rgba(23, 23, 23, 0.5);
  }
  .nav_wrap.on > div {
    margin-bottom: 2.5rem;
  }
  .nav_close {
    position: absolute;
    top: 0.625rem;
    left: 7%;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
  }
  .nav_close button {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 2.5rem;
    text-align: center;
  }
  .nav_close button:focus {
    outline: 0.25rem solid #171717;
  }

  .nav_logo {
    width: 2.625rem;
    height: 3.375rem;
  }
  .nav_logo > a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../multi/img/logo.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .nav_logo > a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .gnb_wrap {
    width: auto;
    height: auto;
    text-align: right;
  }
  .gnb_title {
    position: relative;
    width: auto;
    height: 2.5rem;
    margin-bottom: 1.125rem;
    padding-right: 2.5rem;
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
  .gnb_title > a {
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 2.5rem;
  }
  .gnb_title > a:after, .gnb_title > a::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    transform: translateY(-50%);
    background-image: url(../../multi/img/btn_down.png);
    background-size: initial;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .gnb_title > a:after > span, .gnb_title > a::after > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .gnb_title > a.on:after, .gnb_title > a.on::after {
    transform: translateY(-60%) rotate(180deg);
  }
  .gnb_list {
    display: none;
    margin-top: 1rem;
    margin-bottom: 2.25rem;
  }
  .gnb_list li {
    width: auto;
    height: 2.5rem;
    margin-bottom: 0.375rem;
    margin-right: 2.5rem;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 2.5rem;
    color: #505050;
  }
  .gnb_list li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .gnb_list li:last-of-type {
    margin-bottom: 0;
  }

  .gnb_title.on + .gnb_list {
    display: block;
  }

  .unb_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    height: auto;
    margin-top: 0.625rem;
  }
  .nav_search {
    width: 60%;
    min-width: 15.375rem;
    max-width: 18.75rem;
    height: 3.125rem;
    border-bottom: 0.0625rem solid #171717;
  }
  .nav_search form {
    width: 100%;
    height: 100%;
  }
  .nav_search form fieldset {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .nav_search form fieldset input {
    width: 100%;
    height: 100%;
    color: #505050;
  }
  .nav_search form fieldset button {
    width: 3.125rem;
    height: 100%;
    text-align: center;
  }
  .nav_search form fieldset button i {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 3.125rem;
  }

  .nav_sns {
    margin-top: 2.5rem;
  }
  .nav_sns ul {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
  }
  .nav_sns ul li {
    margin-right: 1.375rem;
    font-size: 26px;
    font-size: 1.625rem;
  }
  .nav_sns ul li:last-of-type {
    margin-right: 0;
  }

  .nav_wrap.on .nav_bg {
    position: fixed;
    top: 0;
    left: 5%;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .nav_pc {
    display: none;
  }
}
/*==================== laptop 1024px - 1439px ====================*/
@media all and (min-width: 1024px) and (max-width: 1439px) {
  #wrap {
    padding-top: 5rem;
  }

  #headBox {
    min-height: 5rem;
    padding: 0.375rem 2.5rem;
  }
  #headBox .container {
    max-width: 64rem;
  }
  #headBox h1 {
    width: 3.125rem;
    height: 4.125rem;
    margin-right: 10%;
  }
  #headBox h1:hover {
    display: block;
    transform: scale(1.1);
    transition: all 300ms ease;
  }

  .nav_mob {
    display: none;
  }

  .nav_pc {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .gnb {
    height: 100%;
  }
  .gnb .gnb_wrap {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
  }
  .gnb .gnb_wrap > li {
    margin-right: 10px;
  }
  .gnb .gnb_wrap > li:last-of-type {
    margin-right: 0;
  }
  .gnb .gnb_wrap > li .gnb_title {
    width: 120px;
    height: 66px;
  }
  .gnb .gnb_wrap > li .gnb_title > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 72px;
    text-align: center;
  }
  .gnb .gnb_wrap > li .gnb_title > a:hover {
    display: block;
    transform: scale(1.1);
    transition: all 300ms ease;
  }
  .gnb .gnb_wrap > li .gnb_list {
    display: none;
  }
  .gnb .gnb_wrap:hover .gnb_list {
    display: block;
    margin-top: 60px;
    margin-bottom: 100px;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: #505050;
    text-align: center;
  }
  .gnb .gnb_wrap:hover .gnb_list a {
    width: auto;
    display: inline-block;
  }
  .gnb .gnb_wrap:hover .gnb_list a:hover {
    font-weight: 700;
    color: #171717;
  }
  .gnb .gnb_wrap:hover .gnb_list > li {
    margin-bottom: 14px;
  }
  .gnb .gnb_wrap:hover .gnb_list > li:last-of-type {
    margin-bottom: 0;
  }
  .gnb .gnb_wrap:hover .gnb_list::before, .gnb .gnb_wrap:hover .gnb_list:before {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }

  .unb_wrap {
    display: flex;
    justify-content: space-between;
  }
  .unb_wrap li {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    font-size: 22px;
    font-size: 1.375rem;
    text-align: center;
    line-height: 72px;
  }
  .unb_wrap li:last-of-type {
    margin-right: 0;
  }
  .unb_wrap li > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .unb_wrap li > a:hover {
    display: block;
    transform: scale(1.2);
    transition: all 300ms ease;
  }

  .unb_search {
    display: none;
  }

  .unb.on .unb_search {
    display: block;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    left: 0;
    width: 100%;
    height: 180px;
    border-bottom: 0.0625rem solid #ccc;
    background-color: #fff;
  }
  .unb.on .unb_search .search_area {
    width: 800px;
    height: 70px;
    margin-left: 50%;
    margin-top: 52px;
    border-radius: 10px;
    background-color: #eee;
    transform: translateX(-50%);
  }
  .unb.on .unb_search .search_area form, .unb.on .unb_search .search_area fieldset {
    width: 100%;
    height: 100%;
  }
  .unb.on .unb_search .search_area fieldset {
    display: flex;
    justify-content: space-between;
  }
  .unb.on .unb_search .search_area input {
    width: calc(100% - 55px);
    height: 100%;
    font-size: 20px;
    font-size: 1.25rem;
    text-indent: 48px;
    background-color: transparent;
  }
  .unb.on .unb_search .search_area button {
    width: 80px;
    height: 100%;
    font-size: 28px;
    font-size: 1.75rem;
  }
  .unb.on .unb_search .modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
  }
}
/*==================== pc 1024px - ====================*/
@media all and (min-width: 1440px) {
  #wrap {
    padding-top: 5rem;
  }

  #headBox {
    min-height: 5rem;
    padding: 0.375rem 2.5rem;
  }
  #headBox .container {
    max-width: 80rem;
  }
  #headBox h1 {
    width: 3.125rem;
    height: 4.125rem;
    margin-right: 10%;
  }
  #headBox h1:hover {
    display: block;
    transform: scale(1.1);
    transition: all 300ms ease;
  }

  .nav_mob {
    display: none;
  }

  .nav_pc {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .gnb {
    height: 100%;
  }
  .gnb .gnb_wrap {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
  }
  .gnb .gnb_wrap > li {
    margin-right: 10px;
  }
  .gnb .gnb_wrap > li:last-of-type {
    margin-right: 0;
  }
  .gnb .gnb_wrap > li .gnb_title {
    width: 140px;
    height: 66px;
  }
  .gnb .gnb_wrap > li .gnb_title > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 72px;
    text-align: center;
  }
  .gnb .gnb_wrap > li .gnb_title > a:hover {
    display: block;
    transform: scale(1.1);
    transition: all 300ms ease;
  }
  .gnb .gnb_wrap > li .gnb_list {
    display: none;
  }
  .gnb .gnb_wrap:hover .gnb_list {
    display: block;
    margin-top: 60px;
    margin-bottom: 100px;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: #505050;
    text-align: center;
  }
  .gnb .gnb_wrap:hover .gnb_list a {
    width: auto;
    display: inline-block;
  }
  .gnb .gnb_wrap:hover .gnb_list a:hover {
    font-weight: 700;
    color: #171717;
  }
  .gnb .gnb_wrap:hover .gnb_list > li {
    margin-bottom: 14px;
  }
  .gnb .gnb_wrap:hover .gnb_list > li:last-of-type {
    margin-bottom: 0;
  }
  .gnb .gnb_wrap:hover .gnb_list::before, .gnb .gnb_wrap:hover .gnb_list:before {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }

  .unb_wrap {
    display: flex;
    justify-content: space-between;
  }
  .unb_wrap li {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    font-size: 22px;
    font-size: 1.375rem;
    text-align: center;
    line-height: 72px;
  }
  .unb_wrap li:last-of-type {
    margin-right: 0;
  }
  .unb_wrap li > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .unb_wrap li > a:hover {
    display: block;
    transform: scale(1.2);
    transition: all 300ms ease;
  }

  .unb_search {
    display: none;
  }

  .unb.on .unb_search {
    display: block;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    left: 0;
    width: 100%;
    height: 180px;
    border-bottom: 0.0625rem solid #ccc;
    background-color: #fff;
  }
  .unb.on .unb_search .search_area {
    width: 1000px;
    height: 70px;
    margin-left: 50%;
    margin-top: 52px;
    border-radius: 10px;
    background-color: #eee;
    transform: translateX(-50%);
  }
  .unb.on .unb_search .search_area form, .unb.on .unb_search .search_area fieldset {
    width: 100%;
    height: 100%;
  }
  .unb.on .unb_search .search_area fieldset {
    display: flex;
    justify-content: space-between;
  }
  .unb.on .unb_search .search_area input {
    width: calc(100% - 55px);
    height: 100%;
    font-size: 20px;
    font-size: 1.25rem;
    text-indent: 48px;
    background-color: transparent;
  }
  .unb.on .unb_search .search_area button {
    width: 80px;
    height: 100%;
    font-size: 28px;
    font-size: 1.75rem;
  }
  .unb.on .unb_search .modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
  }
}
/* footBox.css */
#footBox {
  position: relative;
  background-color: #333;
  color: #ccc;
}
#footBox a:hover {
  display: block;
  transform: scale(1.1);
  transition: all 300ms ease;
}
.foot_nav .foot_nav_cont {
  display: flex;
  flex-flow: wrap;
  width: auto;
  height: 100%;
  padding: 16px 32px;
  border-bottom: 0.0625rem solid #505050;
}
.foot_nav .foot_nav_cont li {
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 7px;
  margin-right: 12px;
  margin-bottom: 7px;
}
.foot_nav .foot_nav_cont li:last-of-type {
  margin-right: 0;
}
.foot_nav .family_site {
  position: absolute;
  left: 154px;
  bottom: 420px;
  width: 136px;
  height: 30px;
  border-bottom: 0.0625rem solid #ccc;
  padding: 4px 8px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 200;
  color: #fff;
  text-transform: capitalize;
}
.foot_nav .family_site i {
  margin-left: 42px;
}
.foot_nav .family_site form, .foot_nav .family_site fieldset, .foot_nav .family_site input {
  width: 100%;
  height: 100%;
}
.foot_nav .family_site dl ul {
  display: none;
}

.foot_wrap h3 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.foot_wrap p {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.6;
}
.foot_wrap .foot_info .copyright {
  position: absolute;
  left: 32px;
  bottom: 56px;
}
.foot_wrap .foot_cs {
  margin-top: 30px;
}
.foot_wrap .foot_cs .phone_number {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 20px;
}
.foot_wrap .foot_sns {
  position: absolute;
  left: 32px;
  bottom: 426px;
  width: 80px;
  height: 16px;
}
.foot_wrap .foot_sns ul {
  display: flex;
  justify-content: space-between;
}

/*==================== mobile 320px - 599px ====================*/
@media all and (max-width: 599px) {
  .foot_nav .family_site {
    bottom: 400px;
  }

  .foot_wrap {
    padding: 92px 32px 124px;
  }

  #footBox .foot_sns {
    bottom: 406px;
  }
}
/*==================== tablet 600px - 1023px ====================*/
@media all and (min-width: 600px) and (max-width: 1023px) {
  #footBox .foot_nav > .foot_nav_cont > li {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 18px;
  }
  #footBox .foot_wrap {
    display: flex;
    justify-content: flex-start;
    padding: 90px 32px 110px;
  }
  .foot_nav > .family_site {
    left: 276px;
    bottom: 250px;
  }

  #footBox .foot_wrap .foot_sns {
    bottom: 260px;
  }
  #footBox .foot_wrap .foot_info {
    margin-right: 70px;
  }
  #footBox .foot_wrap .foot_info .copyright br {
    display: none;
  }
  #footBox .foot_wrap .foot_cs {
    margin-top: 0;
  }
}
/*==================== desktop 1024px - ====================*/
@media all and (min-width: 1024px) {
  #footBox:before, #footBox::before {
    content: "";
    display: block;
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #505050;
  }
  #footBox .container {
    position: relative;
    padding: 0 2rem;
    max-width: 64rem;
  }
  #footBox h2 {
    position: absolute;
    top: 100px;
    left: 2rem;
    width: 62px;
    height: 82px;
    background-image: url(../../multi/img/logo_white.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  #footBox h2 > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .foot_nav {
    width: 930px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .foot_nav .foot_nav_cont {
    display: flex;
    flex-flow: wrap;
    width: auto;
    height: 100%;
    padding: 20px 0;
    border-bottom: 0;
  }
  .foot_nav .foot_nav_cont li {
    font-size: 14px;
    font-size: 0.875rem;
    margin: 0 30px 0 0;
  }
  .foot_nav .foot_nav_cont li:last-of-type {
    margin-right: 0;
  }

  #footBox .family_site {
    position: static;
    width: auto;
    height: 100%;
    border-bottom: 0;
    border-left: 0.0625rem solid #505050;
    padding: 20px 0;
    padding-left: 32px;
    text-align: center;
  }
  #footBox .foot_wrap {
    display: flex;
    justify-content: space-between;
    padding: 38px 0 120px;
    margin-left: 140px;
  }
  #footBox .foot_wrap h3 {
    font-size: 22px;
    font-size: 1.375rem;
  }
  #footBox .foot_wrap p {
    font-size: 14px;
    font-size: 0.875rem;
  }
  #footBox .foot_wrap .foot_info .copyright {
    position: static;
    margin-top: 20px;
  }
  #footBox .foot_wrap .foot_cs {
    margin-top: 0;
  }
  #footBox .foot_wrap .foot_cs p {
    margin-top: 14px;
  }
  #footBox .foot_wrap .foot_cs .phone_number {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
  }
  #footBox .foot_wrap .foot_sns {
    position: static;
    width: 140px;
    font-size: 30px;
    font-size: 1.875rem;
  }
}
/*==================== pc 1440px - ====================*/
@media all and (min-width: 1440px) {
  #footBox .container {
    max-width: 80rem;
  }
  .foot_nav {
    width: 100%;
  }
}
/* sideBox.css */
/*==================== handhelds 320px - 599px ====================*/
@media all and (max-width: 1023px) {
  #sideBox {
    display: none;
  }
}
/*==================== desktop 1024px - 1439px ====================*/
@media all and (min-width: 1024px) {
  #sideBox {
    position: fixed;
    right: 30px;
    bottom: 80px;
    z-index: 4000;
    width: 50px;
    height: auto;
  }
  #sideBox a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(23, 23, 23, 0.15);
    transition: all 500ms ease;
    /* sideBox > &:hover */
    /* sideBox > &:focus */
    /* @keyframes myMove */
  }
  #sideBox a.app {
    background-image: url(../../multi/img/side_app.png);
    background-size: 30px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #c30e2f;
    color: #fff;
  }
  #sideBox a.app > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #sideBox a.kakao {
    background-image: url(../../multi/img/side_kakaotalk.png);
    background-size: 30px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #FFCD00;
    color: #171717;
  }
  #sideBox a.kakao > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #sideBox a:hover {
    transform: scale(1.3);
    transition: all 500ms ease;
  }
  #sideBox a:hover span {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    margin: auto;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    word-spacing: -3px;
    clip: initial;
  }
  #sideBox a:hover:before, #sideBox a:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    background-color: inherit;
  }
  #sideBox a:focus {
    animation: myMove 300ms ease 1;
  }
  @keyframes myMove {
    0% {
      transform: scale(1.3);
    }
    30% {
      transform: scale(0.3);
    }
    70% {
      transform: scale(1.6);
    }
    100% {
      transform: scale(1.3);
    }
  }
}
/*==================== handhelds 320px - 599px ====================*/
@media all and (max-width: 1023px) {
  h1 > a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../multi/img/logo_white.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  h1 > a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  #titleBox {
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 60px;
    border-bottom: 0.0625rem solid #ccc;
    background-color: #fff;
  }
  #titleBox h2 {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 60px;
    color: #171717;
    text-align: center;
  }
  #titleBox h2::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 20px;
    height: 20px;
    margin: auto;
    transform: translateY(-50%);
    color: #fff;
    background-image: url(../../multi/img/angle-down-solid.svg);
    background-size: initial;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  #titleBox h2::before > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #titleBox p {
    display: none;
  }
  #titleBox .title_list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    border-top: 0.0625rem solid #ccc;
    border-bottom: 0.0625rem solid #ccc;
    text-align: center;
  }
  #titleBox .title_list.on {
    display: block;
  }
  #titleBox .title_list li {
    width: 100%;
    height: 50px;
    background: #eee;
  }
  #titleBox .title_list li.on {
    font-weight: 700;
  }
  #titleBox .title_list li > a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #titleBox .title_list li > a:hover {
    background-color: #505050;
    color: #fff;
  }

  #headBox.transparent + #titleBox {
    background-color: transparent;
  }
  #headBox.transparent + #titleBox h2 {
    color: #fff;
  }
  #headBox.transparent + #titleBox h2::before {
    background-image: url(../../multi/img/angle-down-white.svg);
    background-size: initial;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  #headBox.transparent + #titleBox h2::before > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
/*==================== desktop 1024px - 1439px ====================*/
@media all and (min-width: 1024px) {
  #titleBox {
    display: none;
  }
}
#viewBox {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: -7.5625rem;
}
#viewBox .video_area {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
#viewBox .video_area::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(23, 23, 23, 0.3);
}
#viewBox .video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 130%;
  min-height: 100vh;
  min-width: 100vw;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
#viewBox .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2rem;
}
.view_title {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
}
.view_title p {
  margin-bottom: 20px;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
}
.view_title h3 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.6;
  color: #fff;
}

#viewBox .category_tab {
  display: none;
}
#viewBox .scroll {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: 30px;
  font-size: 1.875rem;
  color: #fff;
  text-align: center;
  animation: scrollDown 800ms infinite alternate ease;
}
@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(16px);
  }
}

/*==================== handhelds 320px - 599px ====================*/
@media all and (max-width: 1023px) {
  #viewBox .pc {
    display: none;
  }
}
/*==================== desktop 1024px - 1439px ====================*/
@media all and (min-width: 1024px) {
  #viewBox {
    margin-top: -80px;
  }
  #viewBox .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 64rem;
  }
  .view_title {
    height: 100%;
    padding-bottom: 80px;
  }

  #viewBox .title_list ul {
    display: flex;
    justify-content: space-around;
    margin-top: 72px;
    margin-bottom: 80px;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
  }
  #viewBox .title_list li {
    width: 130px;
    height: 60px;
    text-align: center;
  }
  #viewBox .title_list li.on {
    border-top: 0.25rem solid #fff;
  }
  #viewBox .title_list li > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
  }
}
/*==================== pc 1440px - ====================*/
@media all and (min-width: 1440px) {
  #viewBox .container {
    max-width: 80rem;
  }
  #viewBox .video {
    width: 120%;
    height: auto;
  }
}
#introBox {
  width: 100%;
  height: auto;
  padding: 6.25rem 2rem;
  background-color: #fff;
}
#introBox .container {
  max-width: 600px;
}
#introBox .breadcrumb {
  display: none;
}
#introBox h2 {
  padding-bottom: 40px;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  color: #c30e2f;
  text-align: center;
}
#introBox p {
  padding-bottom: 40px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  color: #505050;
}
#introBox p br {
  display: none;
}
#introBox p.bold {
  padding-bottom: 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #171717;
}

/*==================== tablet 600px - 1023px ====================*/
@media all and (min-width: 600px) and (max-width: 1023px) {
  #introBox {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
  }
  #introBox h2 {
    font-size: 28px;
  }
  #introBox p.bold {
    font-size: 22px;
  }
  #introBox p.bold br {
    display: block;
  }
}
/*==================== desktop 1024px - 1439px ====================*/
@media all and (min-width: 1024px) {
  #introBox {
    padding-bottom: 200px;
  }
  #introBox .container {
    display: flex;
    flex-direction: column;
    max-width: 64rem;
    text-align: center;
  }
  #introBox .breadcrumb {
    order: -1;
    align-self: flex-end;
    display: block;
    margin-bottom: 180px;
    color: #aaa;
    font-weight: 700;
  }
  #introBox .breadcrumb i.fa-chevron-right {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
  }
  #introBox .breadcrumb span {
    color: #171717;
  }
  #introBox h2 {
    font-size: 36px;
  }
  #introBox p br {
    display: block;
  }
  #introBox p.bold {
    font-size: 22px;
  }
}
/*==================== pc 1440px - ====================*/
@media all and (min-width: 1440px) {
  #introBox .container {
    max-width: 80rem;
  }
}
#processBox {
  width: 100%;
  height: auto;
  padding: 6.25rem 2rem;
  background-color: rgba(148, 198, 225, 0.2);
}
#processBox .container {
  max-width: 600px;
}
.process_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.process_area:last-of-type {
  padding-bottom: 0;
}
.process_area .img {
  order: -1;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-bottom: 40px;
  background-color: #fff;
}
.process_area .img1 {
  background-image: url(../../multi/img/brand_story_img1.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.process_area .img1 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
.process_area .img2 {
  background-image: url(../../multi/img/brand_story_img2.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.process_area .img2 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
.process_area .img3 {
  background-image: url(../../multi/img/brand_story_img3.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.process_area .img3 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
.process_area h3 {
  margin-bottom: 20px;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
}
.process_area dl {
  text-align: center;
}
.process_area dt {
  margin-bottom: 20px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #4d3c3b;
}
.process_area dd {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  color: #505050;
}
.process_area dd br {
  display: none;
}

/*==================== tablet 600px - 1023px ====================*/
@media all and (min-width: 600px) and (max-width: 1023px) {
  #processBox {
    padding-top: 8.125rem;
    padding-bottom: 8.125rem;
  }
  .process_area {
    margin-bottom: 90px;
  }
  .process_area .img {
    width: 160px;
    height: 160px;
    margin-bottom: 66px;
  }
  .process_area h3 {
    font-size: 28px;
  }
  .process_area dt {
    font-size: 22px;
  }
}
/*==================== desktop 1024px - 1439px ====================*/
@media all and (min-width: 1024px) {
  #processBox {
    padding: 180px 0;
  }
  #processBox .container {
    display: flex;
    justify-content: space-around;
    max-width: 64rem;
  }
  .process_area {
    width: 260px;
  }
  .process_area .img {
    width: 250px;
    height: 250px;
    margin-bottom: 56px;
  }
  .process_area h3 {
    font-size: 28px;
    margin-bottom: 56px;
  }
  .process_area dt {
    font-size: 22px;
  }
  .process_area dd br {
    display: block;
  }
}
/*==================== pc 1440px - ====================*/
@media all and (min-width: 1440px) {
  #processBox .container {
    max-width: 80rem;
  }
}
#galleryBox {
  position: relative;
  width: 100%;
  height: 230px;
  height: 14.375rem;
  height: 71.875vw;
  max-height: 600px;
}
.indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}
.indicator ul {
  display: flex;
  justify-content: center;
}
.indicator li {
  width: 36px;
  height: 5px;
  margin-right: 10px;
  background-color: #aaa;
}
.indicator li.on {
  background-color: #fff;
}

.img_inner {
  width: 100%;
  height: 100%;
}
.img_inner ul {
  width: 400%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.img_inner li {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.img_inner .img_01 {
  background-image: url(../../multi/img/main_live_img1.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.img_inner .img_01 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
.img_inner .img_02 {
  background-image: url(../../multi/img/main_live_img2.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.img_inner .img_02 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
.img_inner .img_03 {
  background-image: url(../../multi/img/main_live_img3.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.img_inner .img_03 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
.img_inner .img_04 {
  background-image: url(../../multi/img/main_live_img4.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.img_inner .img_04 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}

/*==================== tablet 600px - 1023px ====================*/
/*==================== desktop 1024px - 1439px ====================*/
/*==================== pc 1440px - ====================*/
#philosophyBox {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  padding: 6.25rem 2rem;
  padding-bottom: 240px;
  background-color: #fff;
}
#philosophyBox .container {
  max-width: 600px;
}
#philosophyBox::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 40%;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../../multi/img/brand_promise_con_img4.jpg);
  background-size: initial;
  background-position: initial;
  background-repeat: no-repeat;
  opacity: 0.6;
}
#philosophyBox::before > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
#philosophyBox h2 {
  margin-bottom: 30px;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.6;
}
#philosophyBox p {
  margin-bottom: 30px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  color: #505050;
}
#philosophyBox p.bold {
  margin-bottom: 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #171717;
}
#philosophyBox p.bold br {
  display: none;
}

/*==================== tablet 600px - 1023px ====================*/
@media all and (min-width: 600px) and (max-width: 1023px) {
  #philosophyBox {
    padding-top: 130px;
    padding-bottom: 300px;
  }
  #philosophyBox h2 {
    font-size: 28px;
  }
  #philosophyBox p.bold {
    font-size: 22px;
  }
}
/*==================== desktop 1024px - 1439px ====================*/
@media all and (min-width: 1024px) {
  #philosophyBox {
    padding-top: 280px;
    padding-bottom: 280px;
    margin: auto;
  }
  #philosophyBox::before {
    top: 0;
    left: 0;
    right: 0;
    background-position: -200px 50%;
    background-size: 800px;
    opacity: 1;
  }
  #philosophyBox .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 64rem;
  }
  #philosophyBox .container > * {
    width: 600px;
  }
  #philosophyBox h2 {
    font-size: 36px;
  }
  #philosophyBox p:nth-child(3) {
    margin-bottom: 60px;
  }
  #philosophyBox p.bold {
    font-size: 22px;
  }
  #philosophyBox p.bold br {
    display: block;
  }
}
/*==================== pc 1440px - ====================*/
@media all and (min-width: 1440px) {
  #philosophyBox {
    max-width: 1440px;
  }
  #philosophyBox::before {
    background-position: 0 50%;
    background-size: 800px;
  }
  #philosophyBox .container {
    max-width: 80rem;
  }
}
#promiseBox {
  width: 100%;
  height: auto;
}
#promiseBox article {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
#promiseBox article::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#promiseBox article .container {
  padding: 90px 2rem;
  display: flex;
  flex-direction: column;
}
#promiseBox article .point {
  order: -1;
  width: 100px;
  height: 42px;
  border: 4px solid;
  border-radius: 100px;
  margin-bottom: 32px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
}
#promiseBox article h3 {
  margin-bottom: 32px;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.6;
}
#promiseBox article p {
  line-height: 1.6;
}
#promiseBox article p br {
  display: none;
}
#promiseBox .promise_inner_01 {
  background-image: url(../../multi/img/point1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#promiseBox .promise_inner_01 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
#promiseBox .promise_inner_01::before {
  background-color: rgba(51, 51, 51, 0.3);
}
#promiseBox .promise_inner_01 .point {
  color: #eeefbc;
  border-color: #eeefbc;
}
#promiseBox .promise_inner_01 h3 {
  color: #fff;
}
#promiseBox .promise_inner_01 p {
  color: #eee;
}
#promiseBox .promise_inner_02 {
  background-image: url(../../multi/img/point2.jpg);
  background-size: 1000px;
  background-position: 77% 79%;
  background-repeat: no-repeat;
}
#promiseBox .promise_inner_02 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
#promiseBox .promise_inner_02::before {
  background-image: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0.3));
}
#promiseBox .promise_inner_02 .container {
  align-items: flex-end;
}
#promiseBox .promise_inner_02 .point {
  color: #AD3D5E;
  border-color: #AD3D5E;
}
#promiseBox .promise_inner_02 h3 {
  text-align: right;
}
#promiseBox .promise_inner_02 p {
  color: #333;
  text-align: right;
}
#promiseBox .promise_inner_03 {
  background-image: url(../../multi/img/point3.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#promiseBox .promise_inner_03 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
#promiseBox .promise_inner_03::before {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}
#promiseBox .promise_inner_03 .point {
  color: #673506;
  border-color: #673506;
}
#promiseBox .promise_inner_03 p {
  color: #333;
}
#promiseBox .promise_inner_04 {
  background-image: url(../../multi/img/point4.jpg);
  background-size: 200%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#promiseBox .promise_inner_04 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
#promiseBox .promise_inner_04::before {
  background-image: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0.3));
}
#promiseBox .promise_inner_04 .container {
  align-items: flex-end;
}
#promiseBox .promise_inner_04 .point {
  color: #084262;
  border-color: #084262;
}
#promiseBox .promise_inner_04 h3 {
  text-align: right;
}
#promiseBox .promise_inner_04 p {
  color: #333;
  text-align: right;
}
#promiseBox .promise_inner_05 {
  padding-bottom: 140px;
  background-image: url(../../multi/img/point5.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#promiseBox .promise_inner_05 > span {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}
#promiseBox .promise_inner_05::before {
  background-color: rgba(255, 255, 255, 0.3);
}
#promiseBox .promise_inner_05 .point {
  color: #673506;
  border-color: #673506;
}
#promiseBox .promise_inner_05 p {
  color: #333;
}

/*==================== tablet 600px - 1023px ====================*/
@media all and (min-width: 600px) and (max-width: 1023px) {
  #promiseBox article .point {
    width: 120px;
    height: 50px;
    font-size: 18px;
    line-height: 44px;
  }
  #promiseBox article h3 {
    font-size: 28px;
  }
  #promiseBox article p br {
    display: block;
  }
  #promiseBox .promise_inner_01 {
    background-position: 50% 70%;
  }
  #promiseBox .promise_inner_02 {
    background-position: 100% 73%;
    background-size: 1400px;
  }
  #promiseBox .promise_inner_02::before {
    background-image: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0));
  }
  #promiseBox .promise_inner_03 {
    background-position: 36% 27%;
    background-size: 160%;
  }
  #promiseBox .promise_inner_03::before {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  }
  #promiseBox .promise_inner_04 {
    background-position: 97% 50%;
  }
  #promiseBox .promise_inner_04::before {
    background-image: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0));
  }
  #promiseBox .promise_inner_05 {
    background-position: 50% 76%;
  }
}
/*==================== desktop 1024px - 1439px ====================*/
@media all and (min-width: 1024px) {
  #promiseBox article .container {
    max-width: 64rem;
    padding: 110px 2rem;
  }
  #promiseBox article .point {
    width: 120px;
    height: 50px;
    font-size: 18px;
    line-height: 44px;
  }
  #promiseBox article h3 {
    font-size: 28px;
  }
  #promiseBox article h3 br {
    display: none;
  }
  #promiseBox article p br {
    display: block;
  }
  #promiseBox .promise_inner_01 {
    background-position: 50% 70%;
  }
  #promiseBox .promise_inner_02 {
    background-position: 100% 73%;
    background-size: 1440px;
  }
  #promiseBox .promise_inner_02::before {
    background-image: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0));
  }
  #promiseBox .promise_inner_03 {
    background-position: 36% 27%;
    background-size: 160%;
  }
  #promiseBox .promise_inner_03::before {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  }
  #promiseBox .promise_inner_04 {
    background-position: 97% 50%;
  }
  #promiseBox .promise_inner_04::before {
    background-image: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0));
  }
  #promiseBox .promise_inner_05 {
    background-position: 50% 76%;
  }
}
/*==================== pc 1440px - ====================*/
@media all and (min-width: 1440px) {
  #promiseBox .container {
    max-width: 80rem;
  }
  #promiseBox .promise_inner_02 {
    background-position: 100% 73%;
    background-size: 100%;
  }
  #promiseBox .promise_inner_02::before {
    opacity: 0.5;
  }
  #promiseBox .promise_inner_03 {
    background-position: 36% 27%;
    background-size: cover;
  }
  #promiseBox .promise_inner_04 {
    background-size: 178%;
  }
  #promiseBox .promise_inner_04::before {
    opacity: 0.5;
  }
}
