@charset "UTF-8";
/* login.css */

/* design */
#wrap {
  overflow: hidden;
  width: 100%; height: auto; min-width: 1280px; 
}

/* headBox */
#headBox {
  position: absolute; top: 0; left: 0; right: 0; z-index: 1000;
  width: 100%; height: auto; min-height: 80px;
  padding: 8px 100px 0; box-sizing: border-box;
}
#headBox:before,
#headBox::before { /* nav 중간 라인 */
  content: "";
  display: block;
  position: absolute; top: 79px; left: 0; right: 0;
  width: 100%; height: 0;
  border-bottom: 1px solid var(--white);
}
#headBox:after,
#headBox::after { /* nav 드롭다운 배경 */
  content: "";
  display: block;
  position: absolute; left: 50%; bottom: 0; z-index: -1;
  width: 100%; height: 100%;
  margin-left: -50vw; border-bottom: 1px solid var(--gray-02);
}
/* hover : 네비게이션에 hover 시 불투명하게 */
#headBox:hover { 
  background-color: var(--white);
}
  #headBox:hover .nav_title,
  #headBox:hover #unb li { 
    color: var(--black-02);
  }
  #headBox:hover:before,
  #headBox:hover::before {
    border-bottom: 1px solid var(--gray-02);
  }

  h1 {
    float: left;
    width: 50px; height: 66px;
    margin-right: 140px;
    background-image: url(../../img/logo_white.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  /* headBox > gnb */
  #gnb {
    width: auto; height: auto;
    float: left;
    margin-top: 20px;
    text-align: center;
  }
    #gnb > ul > li {
      float: left;
      width: 120px; height: auto;
      margin-right: 40px;
    }
    #gnb > ul > li:last-child {
      margin-right: 0;
    }
    #gnb > ul > li a {
      display: block;
      width: 100%; height: 100%;
    }
    .nav_title {
      font-size: 18px; font-weight: 700; color: var(--white);
    }
    .nav_list {
      display: none;
      width: 120px; height: 240px;
      margin-top: 60px; margin-right: 40px; 
      font-size: 16px; font-weight: 400; color: var(--deep-gray-01);
    }
    .nav_list li {
      width: 100%; height: 25px;
      margin-bottom: 10px;
    }
    .nav_list li:last-of-type {
      margin-bottom: 0;
    }
    #gnb:hover .nav_list { /* hover */
      display: block;
    }
    
  /* headBox > unb */
  #unb {
    float: right;
    width: 124px; height: auto;
    margin-top: 20px;
  }
    #unb li {
      float: left;
      margin-left: 50px;
      font-size: 22px; line-height: 20px; text-align: center; color: var(--white);
    }
    #unb li:first-of-type {
      margin-left: 0;
    }

  /* --------------------------------------- */

  /* viewBox */
  #viewBox {
    position: relative;
    width: 100%; height: 100vh;
    background-color: #777;
  }
    #viewBox .title {
      position: absolute; top: 50vh; left: 0; right: 0;
      width: 100%; height: auto;
      transform: translateY(-50%);
      color: var(--white);
    }
      #viewBox h2 {
        padding-top: 62px;
        font-size: 40px; font-weight: 700;
      }
      #viewBox p {
        position: absolute; top: 0; left: 0;
        font-size: 22px;
      }
    #viewBox .category_tab {
      position: absolute; top: 80vh; left: 0; right: 0;
      width: 100%; height: auto; min-height: 200px;
      background-color: #4CD94F;
    }

  /* introBox */
  #introBox {
    width: 100%; height: 740px;
    background-color: #360B18;
  }

  /* processBox */
  #processBox {
    width: 100%; height: 1012px;
    background-color: #5FB5B9;
  }

  /* galleryBox */
  #galleryBox {
    width: 100%; height: 600px;
    background-color: #CFAD74;
  }

  /* philosophyBox */
  #philosophyBox {
    width: 100%; height: 910px;
  }

  /* promiseBox */
  #promiseBox {
    width: 100%; height: 2560px;
    background-color: #A60271;
  }
    .point_01 {
      width: 100%; height: 490px;
      background-color: #D2EF58;
    }
    .point_02 {
      width: 100%; height: 490px;
      background-color: #E3B2F2;
    }
    .point_03 {
      width: 100%; height: 490px;
      background-color: #0D40F8;
    }
    .point_04 {
      width: 100%; height: 490px;
      background-color: #B79BE7;
    }
    .point_05 {
      width: 100%; height: 600px;
      background-color: #7F4EA4;
    }




/* sideBox */
#sideBox {
  position: fixed; right: 30px; bottom: 80px; z-index: 4000;
  width: 50px; height: auto;
}
  #sideBox a {
    display: block;
    width: 60px; height: 60px;
    border-radius: 100%;
    margin-bottom: 16px;
    background-color: var(--white);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    background-position: 50%; background-size: 30px auto; 
    background-repeat: no-repeat;
    transition: all 500ms ease;
    }
    #sideBox .talk { background-image: url(../../img/side_message.png); }
    #sideBox .app { background-image: url(../../img/side_app.png); }
    #sideBox .kakao { background-image: url(../../img/side_kakaotalk.png); }

    /* sideBox > a:hover */
    #sideBox a:hover { 
      transform: scale(1.3);
      transition: all 500ms ease;
    }
    #sideBox a:hover span {
      position: absolute; top: 14px; left: 50%; z-index: 1;
      transform: translateX(-50%);
      width: auto; height: auto;
      margin: auto;
      font-size: 12px; text-align: center; word-spacing: -3px;
    }
    #sideBox a:hover:before,
    #sideBox a:hover::before {
      content: "";
      display: block;
      position: absolute; top: 0; left: 0; bottom: 0; right: 0;
      border-radius: 100%;
      background-color: var(--white); opacity: 0.9;
    }
    /* sideBox > a:focus */
    #sideBox a:focus { 
      animation: myMove 300ms ease 1;
    }
    @keyframes myMove {
      0% { transform: scale(1.3); }
      30% { transform: scale(0.3); }
      70% { transform: scale(1.6); }
      100% { transform: scale(1.3); }
    } /* @keyframes myMove */

/* footBox */
#footBox {
  position: relative;
  width: 100%; height: auto; min-height: 370px;
  background-color: var(--black-01);
  color: var(--gray-01);
}
#footBox:before,
#footBox::before {
  content: "";
  display: block;
  position: absolute; top: 58px; left: 0; right: 0;
  width: 100%; height: 0;
  margin: auto;
  border-bottom: 1px solid var(--deep-gray-01);
}
#footBox h2 {
  position: absolute; top: 80px; left: 0;
  width: 49px; height: 94px;
  background-image: url(../../img/logo_white.png);
  background-size: contain; background-repeat: no-repeat; background-position: 50%;
}
  /* footBox > foot_nav 회사소개 */
  .foot_nav {
    width: 100%; height: auto;
    font-weight: 400; font-size: 14px;
  }
    .foot_nav > ul {
      float: left;
      padding: 20px 0; 
      margin-left: 150px; 
    }
      .foot_nav > ul > li {
        float: left;
        padding-right: 15px; margin-right: 15px; border-right: 1px solid var(--deep-gray-01);
      }
      .foot_nav > ul > li:last-of-type {
        padding-right: 0; margin-right: 130px; border-right: 0;
      }
      .foot_nav a {
        display: block;
        width: 100%; height: 100%;
      }
      /* footBox > family_site 패밀리 사이트 */
    .family_site {
      float: left;
      position: relative;
      padding: 20px 34px; border: 1px solid var(--deep-gray-01); border-top: 0; border-bottom: 0;
      font-size: 14px; text-transform: capitalize;
    }
      .family_site i {
        margin-left: 20px;
      }
        .family_site form,
        .family_site fieldset,
        .family_site ul,
        .family_site li {
          width: 100%; height: auto;
        }
        .family_site dt {
          width: 100%; height: 100%;
        }
        .family_site dd {
          display: none;
          position: absolute; bottom: 58px; left: 0;
          width: 200px; height: auto;
          border-bottom: 1px solid var(--gray-04); padding: 20px;
          background-color: var(--black-02);
        }
        .family_site dd li {
          margin-bottom: 4px;
        }
        .family_site dd li:last-of-type {
          margin-bottom: 0;
        }
        
        .family_site:hover dd { /* hover */
          display: block;
        }

    /* footBox > foot_wrap 회사정보 고객센터 sns */
    .foot_wrap {
      min-height: 100px;
      margin-top: 40px; margin-left: 150px;
    }
      .foot_wrap h3 {
        font-size: 22px; font-weight: 700;
        margin-bottom: 15px;
      }
      .foot_wrap p {
        font-size: 14px; font-weight: 400; line-height: 1.6;
        color: var(--gray-03);
      }
      
      /* footBox > foot_info 회사정보 */
      .foot_info {
        float: left;
        width: auto; height: auto;
      }
        .foot_info p {
          margin-bottom: 20px;
        }
        .foot_info p:last-of-type {
          margin-bottom: 0;
        }
  /* footBox > foot_cs 고객센터 */
  .foot_cs {
    float: left;
    width: auto; height: 140px;
    margin-left: 21%;
  }
    .phone_number {
      width: auto; height: 48px;
      margin-bottom: 12px;
      font-size: 36px; font-weight: 700; line-height: 48px;
    }
    /* footBox > sns 아이콘 */
  .foot_sns {
    float: right;
    width: 182px; height: 90px;
    font-size: 30px; color: var(--gray-01)
  }
    .foot_sns ul {
      width: auto; height: auto;
    }
      .foot_sns li {
        float: left;
        width: 30px; height: 30px;
        margin-left: 22px;
      }
      .foot_sns li:first-of-type {
        margin-left: 0;
      }