// drink.scss
/* drink.css */

@import '../common/mixin', '../common/variable';
@import '../page/base/headBox', '../page/base/footBox', '../page/base/sideBox';
@import '../page/base/title';


#contBox {
  padding: (nth($pd_tb, 1) - 1.25rem) $pd_lr nth($pd_tb, 3);

  @at-root .best_menu_area {
    position: relative;
    width: 100%; height: 300px;

    @at-root .btn_area {
      position: absolute; top: 50%; left: 0; right: 0;
      display: flex; justify-content: space-between;
      width: 100%; height: 0;
      
      & > button { 
        width: 28px; height: 50px; background-color: $color_gray_01; 
        transform: translateY(-50%);
      }
    } // .btn_area
    
    @at-root .best_menu_list {
      display: flex; justify-content: flex-start;

      & > li {
        position: absolute; top: 0; left: 0; right: 0; 
        width: 240px; height: auto;
        margin: auto;
        background-color: #fff;

        a { @include full; }

        span.best {
          display: flex; justify-content: center; align-items: center;
          position: absolute; top: 0; left: 0; z-index: 10;
          width: 80px; height: 80px; border-radius: 100%; 
          background-color: $color_primary_01;
          @include font(14, $font-weight-bold){color: $color_white; text-transform: uppercase;}
        }

        img { width: 240px; height: 240px; }
        
        figcaption { 
          padding-top: 10px;
          @include font(18){text-align: center;}
        }
      } // li
    } // .best_menu_list
  } // .best_menu_area

  @at-root .filter_area {
    padding-top: 60px;

    form {
      padding: 30px 20px 20px;
      border: $line_01; 
    }
    legend { 
      width: 100%;
      padding-bottom: 30px;
      border-bottom: $line_01;
      @include font(18, $font-weight-bold) 
    }
    i { padding-right: 20px; }
    ul {
      display: flex; justify-content: flex-start; flex-wrap: wrap;
      padding-top: 30px;
    }
    li {
      width: 170px;
      padding-bottom: 10px;

      i { color: $color_gray_02; }
    }
    input:checked + label i { font-weight: $font-weight-bold; color: $color_primary_01 }
  }// .filter_area

  @at-root .content_inner {

    @at-root .menu_list_inner {
      display: flex; flex-wrap: wrap; justify-content: center;
      padding-top: 60px;

      & > li {
        width: auto; height: auto;
        margin: {left: 10px; bottom: 10px;} padding: 10px 0 46px;
        background-color: rgba($color_gray_01, 0.5);

        a { @include full; }

        span {
          display: inline-block;
          width: 100%;
          @include font(16){color: $color_gray_04; text: {transform: capitalize; align: center}}
        }

        img { width: 240px; height: 240px;}
        
        figcaption { 
          padding-top: 28px;
          @include font(18, $font-weight-bold){ color:$color_black_01; text-align: center;}
        }
      } // li


    }
  } // .content_inner

}// #contBox


/*==================== handhelds 320px - 599px ====================*/
@include handhelds {

} // @include handhelds


/*==================== desktop 1024px - 1439px ====================*/
@include desktop {
  #contBox {
    .container { max-width: 64rem; }
  }

} // @include desktop


/*==================== pc 1024px - ====================*/
@include pc {

  #contBox {
    .container { max-width: 80rem; }
  }

}//@include pc