// _viewBox.scss

#viewBox {
  position: relative;
  width: 100%; height: 100vh;
  margin-top: -7.5625rem;
  
  .video_area { 
    position: relative; z-index: 0;
    overflow: hidden;
    width: 100%; height: 100vh;
    &::before {
      content: '';
      display: block;
      position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1;
      background-color: rgba($color_black_02, 0.3);
    }
  }

  .video {
    position: absolute; top:50%; left: 50%; 
    width: auto; height: 130%;
    min-height: 100vh; min-width:100vw;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }

  .container { 
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; 
    padding: 0 $pd_lr; 
  }

  @at-root .view_title {
    display: flex; flex-direction: column-reverse; justify-content: flex-start;
    width: 100%; height: 100%;
    padding-bottom: 200px;

    p { margin-bottom: 20px; @include font(16) {color: $color_white} }
    h3 { @include font(28, $font-weight-bold, 1.6) {color: $color_white;} }
  }
  .category_tab { display: none; }
  .scroll {
    position: absolute; bottom: 30px; left: 0; right: 0; z-index: 10;
    @include font(30){ color: $color_white; text-align: center; }
    animation: scrollDown 800ms infinite alternate ease;
    @keyframes scrollDown {
      0% {transform: translateY(0px);}
      100% {transform: translateY(16px);}
    }
  }
}


/*==================== handhelds 320px - 599px ====================*/
@include handhelds {
  #viewBox {
    .pc { display: none; }
  }
} // @include handhelds


/*==================== desktop 1024px - 1439px ====================*/
@include desktop {
  #viewBox {
    margin-top: -80px;
    
    .container { 
      display: flex; flex-direction: column; justify-content: space-between;
      max-width: map-get($container, "laptop"); 
    }
    @at-root .view_title {
      height: 100%;
      padding-bottom: 80px;
    }

    .title_list {
      ul {
        display: flex; justify-content: space-around;
        margin: {top: 72px; bottom: 80px;}
        @include font(18, $font-weight-bold) {color: $color_white;}
      }
      li {
        width: 130px; height: 60px; text-align: center; 
        &.on {
          border-top: $line_05;
        }
        & > a {
          @include full; 
          line-height: 60px;
        }
      }
    }
  } //#viewBox

} // @include desktop


/*==================== pc 1440px - ====================*/
@include pc {
  #viewBox {
    .container { max-width: map-get($container, "pc"); }
    .video { width: 120%; height: auto; }
  } //#viewBox
} // @include pc