// menuBox.scss
/* menuBox.css */

.menu_area {
  display: flex; 
  width: calc(120px * 8);
  
  & > li {
    width: auto; height: auto;
    margin-right: 8px;
    // transform: translateX(-$pd_lr);

    .menu_img { 
      width: 120px; height: 120px; margin-bottom: 30px;
      @include img('drink.png', contain)
    }
    a { @include full; }
    p {
      transform: translateY(-50%); 
    }
  } //.menu_area li
} //.menu_area


/*==================== handhelds 320px - 1023px ====================*/
@include handhelds {
  #menuBox {
    padding: nth($pd_tb, 1) $pd_lr;

    .title { @include mainTitle; }
  
    @at-root .slide_wrap {
      .menu_btn_pc { display: none; }
  
      @at-root .menu_area {
        display: flex; 
        width: calc(120px * 8);
        
        & > li {
          width: auto; height: auto;
          margin-right: 8px;
          // transform: translateX(-$pd_lr);
  
          .menu_img { 
            width: 120px; height: 120px; margin-bottom: 30px;
            @include img('drink.png', contain)
          }
          a { @include full; }
          p {
            transform: translateY(-50%); 
            @include font(14, $font_weight_bold, 1.2){text-align: center;} 
          }
        } //.menu_area li
      } //.menu_area
  
      .menu_btn_mob { @include btnRound; width: 7.8125rem; }
  
    } //.slide_wrap
  } // #menuBox
} //@include handhelds



/*==================== tablet 600px - 1023px ====================*/
@include tablet {
  #menuBox {
    .title { @include mainTitle(left); }
  }
} //@include tablet



/*==================== desktop 1024px - ====================*/
@include desktop {
  #menuBox {
    position: relative;
    padding: nth($pd_tb, 2) $pd_lr;

    .container { max-width: map-get($container, "laptop") }
    .title { @include mainTitle(left, 40); }

    @at-root .slide_wrap {

      @at-root .menu_btn_pc {
        position: absolute; top: 49%; left: 0; right: 0; z-index: 100;
        width: 100%; height: 0;
        margin: auto; padding: 0 6%;

        .next {
          float: right;
          display: none;
          @include btnCircle;
        }
        .prev {
          float: left;
          display: none;
          @include btnCircle('btn_prev2.png');
        }
        .next.on, .prev.on { display: block; }
      }
  
      @at-root .menu_area {
        // width: calc(160px * 8); // js에서 컨트롤
        
        & > li {
          margin-right: 20px;
  
          .menu_img { 
            width: 160px; height: 160px; margin-bottom: 40px;
          }
          p {
            transform: translateY(-50%); 
            @include font(18, $line:1.4){text-align: center;} 
          }
        } //.menu_area li
      } //.menu_area
  
      .menu_btn_mob { display: none; }
  
    } //.slide_wrap

  }
} // @include desktop


/*==================== pc 1440px - ====================*/
@include pc {

  #menuBox {

    @at-root .menu_btn_pc {
      padding: 0 6%;
    }
  } //#menuBox
  

} // @include pc